<div>
    <div>색상별 컬러코드</div>
    <div>색상명: {{colorName}}</div>
    <div>16진수 표기 : {{hexadecimal}}</div>
    <div>RGB 표기 : {{rgb}}</div>
    <div style="display: flex;">색상&nbsp;:&nbsp;
        <div style="background-color: {{hexadecimal}}; width: 2em; height: 2em;" ></div>
    </div>
</div>