<div style="border: solid 1px; padding: 10px;">
    <span>more info : </span>
    <a
        href="https://www.w3schools.com/colors/color_tryit.asp?color={{colorName}}"
        target="_blank"
    ><span>link</span></a>
    <div>{{message}}</div>
</div>