<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Webpack App</title>
    </head>
    <body>
        <%= require('html-loader!../fragments/headerTag.html').default %>
        <%=
            require('!!handlebars-loader!../fragments/colorInfo.hbs')({
                colorName : 'red',
                hexadecimal : '#FF0000',
                rgb: '255,0,0'
            })
        %>

        <% const tag = `
        <h2>index.html</h2>
        ` %><!-- -->

        <%= tag %>

        <%- tag %>

        <%= `
        <div>apply pretttier to tag string in &lt;%= and %&gt;</div>
        ` %><!-- -->
        <%- `
        <div>apply pretttier to tag string in &lt;%- and %&gt;</div>
        ` %><!-- -->
        <%_ `
        <div>apply pretttier to tag string in &lt;%_ and %&gt;</div>
        `%><!-- -->

        <br />
        <% if(true) {%>
        <%= '<b>true</b>' %>
        <% } else {%>
        <%- '<b>false</b>' %>
        <% } %>

        <br />
        <%= _.join(['Be', 'joyful', 'always'], [separator=' ']) %>

        <%= 
            require('../fragments/transmitMsgTag.js')
            .write({
                redMsg: 'red index msg',
                blueMsg: 'blue index msg',
                greenMsg: 'green index msg'
            }) 
        %>
        <img src="assets/img/icon-square-big.svg" />
        <%= require('html-loader!../fragments/footerTag.html').default %>
    </body>
</html>
