<!doctype html>
<html lang="en">
    <head>
        <title>subpage</title>
    </head>
    <body>
        <%= require('html-loader!../fragments/headerTag.html').default %>
        <h2>subpage.html</h2>
        <!-- prettier-ignore -->
        <%= 
            require('../fragments/transmitMsgTag.js')
            .write({
                redMsg: 'red subpage msg',
                blueMsg: 'blue subpage msg',
                greenMsg: 'green subpage msg'
            }) 
        %>
        <%= require('html-loader!../fragments/footerTag.html').default %>
    </body>
</html>
